/* @font-face {
    font-family: 'Lusitana';
    src: url('@/assets/fonts/Lusitana-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'NotoSans';
    src: url('@/assets/fonts/NotoSans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

   */
