@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}


h1, h2,h3,h4,h5,h6{
  
}

.font-lusitana {
  font-family: var(--font-lusitana);
}


body {
  background-color: var(--background); /* ✅ Apply background */
  /* color: var(--foreground);            ✅ Apply text color */

  color: var(--color-gray-800);
  font-family: var(--font-nunito);     /* ✅ Apply Roboto font */
  /* font-size: large; */
}
