@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}


/* h1{
  font-family: var(--font-lusitana);
}*/

/* .font-lusitana {
  font-family: var(--font-lusitana) !important;
}


.font-montserrat {
  font-family: var(--font-montserrat) !important;
}  */



/* Add basic reset/normalize for consistency (optional, but good practice) */
html, body {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: var(--background); /* ✅ Apply background */
  /* color: var(--foreground);            ✅ Apply text color */
  scroll-behavior: smooth;

  color: var(--color-gray-800);
  /* font-size: large; */
}
